<a href="https://colab.research.google.com/github/Anandvns-web/Data-Types-and-Structures/blob/main/Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)	What are data structures, and why are they important?
Ans) Data structures are ways to organize and store data so we can use it efficiently. They help make programs faster and easier to understand.
________________________________________
2)	Explain the difference between mutable and immutable data types with examples.
Ans) Mutable means you can change the data (like a list).
        Example: my_list = [1, 2, 3] → You can do my_list[0] = 10
  Immutable means you can't change the data (like a tuple or string).
   Example: my_str = "hello" → You can't change just one letter.
________________________________________
3)	What are the main differences between lists and tuples in Python?
Ans) Feature	List	Tuple
Changeable	 Yes	 No
Syntax	[1, 2, 3]	(1, 2, 3)
Speed	Slower	Faster
Use case	When data changes	When data stays the same
________________________________________
4)	 Describe how dictionaries store data.
Ans) Dictionaries store data as key-value pairs.
Example: {"name": "Anand", "age": 25}
Each key (like "name") maps to a value (like "Anand").
________________________________________
5)	Why might you use a set instead of a list in Python?
Ans) Sets remove duplicates automatically.
They are faster for checking if something exists.
________________________________________
6)	What is a string in Python, and how is it different from a list?
Ans) A string is a sequence of characters (like "hello").
 A list can hold anything: numbers, strings, other lists.
 You can't change a string, but you can change a list.
________________________________________
7)	How do tuples ensure data integrity in Python?
Ans)  Tuples can't be changed, so once created, the data stays safe. This helps when you don’t want the data to accidentally change.
________________________________________
8)	What is a hash table, and how does it relate to dictionaries in Python?
Ans) A hash table is a system to store data for quick access.
Python dictionaries use hash tables to find values by their keys very fast.
________________________________________
9)	Can lists contain different data types in Python?
Ans) Yes, a list can have different data types.
Example: [1, "hello", True]
________________________________________
10)	 Explain why strings are immutable in Python.
Ans) Strings are immutable to make them safe and fast.
Changing them would be slow and could cause bugs in programs.
________________________________________
11)	What advantages do dictionaries offer over lists for certain tasks?
Ans) Fast lookup using keys
 Easy to label data (like "name": "Anand")
________________________________________
12)	 Describe a scenario where using a tuple would be preferable over a list.
Ans) Use a tuple when:
•	The data shouldn't change (e.g., days of the week)
•	You want to use it as a key in a dictionary
________________________________________
13)	 How do sets handle duplicate values in Python?
Ans) Sets ignore duplicate values automatically.
Example: set([1, 2, 2, 3]) → {1, 2, 3}
________________________________________
14)	 How does the “in” keyword work differently for lists and dictionaries?
Ans) In a list, in checks if a value is present.
   "apple" in ["apple", "banana"] →  True
In a dictionary, in checks if a key exists.
 "name" in {"name": "Anand"} → True
________________________________________
15)	 Can you modify the elements of a tuple? Explain why or why not?
Ans) No, you can’t change a tuple after it’s created. Tuples are immutable.
________________________________________
16)	 What is a nested dictionary, and give an example of its use case?
Ans) A nested dictionary is a dictionary inside another dictionary.
 Example:
student = {
 "name": "Anand",
  "marks": {"math": 90, "science": 85}
}
________________________________________
17)	 Describe the time complexity of accessing elements in a dictionary.
Ans) It’s usually O(1) — very fast, because of the hash table behind it.
________________________________________
18)	 In what situations are lists preferred over dictionaries?
Ans) Use a list when:
•	You just need ordered items
•	You don’t need key-value pairs
________________________________________
19)	Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans) Before Python 3.7, dictionaries were unordered (no fixed order).
Now they keep insertion order, but you still access items by key, not by position.
________________________________________
20)	Explain the difference between a list and a dictionary in terms of data retrieval.
Ans) List: Access by position → my_list[0]
 Dictionary: Access by key → my_dict["name"]

Practical Questions

1) Write a code to create a string with your name and print it.

In [560]:
name = "Anand"
print(name)

Anand

2)Write a code to find the length of the string "Hello World.

In [561]:
text = "Hello World"
print(len(text))

11

3) Write a code to slice the first 3 characters from the string "Python Programming".

In [562]:
text = "Python Programming"
print(text[:3])

Pyt

4)Write a code to convert the string "hello" to uppercase.

In [563]:
word = "hello"
print(word.upper())

HELLO

5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [564]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6)Write a code to create a list with numbers 1 to 5 and print it.

In [565]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7)Write a code to append the number 10 to the list [1, 2, 3, 4].

In [566]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [567]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [568]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10)Write a code to reverse the list [10, 20, 30, 40, 50].

In [569]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [570]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [571]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [572]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [573]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [574]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [575]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [576]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [577]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [578]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [579]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [580]:
person = {"name": "Anand", "age": 25, "city": "Pune"}
print(person)

{'name': 'Anand', 'age': 25, 'city': 'Pune'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [581]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [582]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [583]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [584]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [585]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [586]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[5, 47, 51, 73, 97]

28. Write a code to create a list with strings and print the element at the third index.

In [587]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [588]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [589]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}